#header {
	color: #fff;
	background-image: url("../img/playing-cards.jpg");
	
	box-shadow: 0px 0px 151px 64px black;
	margin-top: 0px;
}

.zng-btn-form, .zng-btn-form-half {
	background-color: black;
	color: #a71c28f1;
    font-weight: bold;
    font-size: larger;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26),5px 5px 20px 0 rgba(0,0,0,0.32);
	border: 3px solid rgba(0,0,0,0.6);
	padding: 12px 0px;
	margin: 8px 0;
	height: 25px;
	width: 98%;
	cursor: pointer;
	box-sizing: content-box;
}

.zng-theme{
    background-color: #353535;
}

.zng-btn,.zng-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:black;
    background-color: #a71c28f1;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    font-weight: bold;
}


.zng-btn-form-half{
    width: 48.5%;
    display: inline-block;
    color:#a71c28f1;
  }

.zng-black-btn{
    color: #a71c28f1;
    background-color: black;
}
.zng-card h2{
    text-align: center;
    background-color: #000000;
    padding:20px 0 ;
    margin: 0;
    width: 100%;
    color: #a71c28f1;
  }

nav{
    min-height: 50px;
    background-color: #353535;
    margin: 0;
}

.zng-nav{
    box-shadow: 0px -5px 24px 15px #a71c28f1;
}

.zng-bar-item{
    width:auto;
    background-color: #a71c28f1;
    box-shadow: 0px 0px 5px #000000cc;
    margin:0 10px;
}